:root {
    --dark-overlay: #3292a6;
}

body {
    margin-top: 75px;
}

.navbar {
    opacity: 0.9;
}

.mine-logo {
    width: 50px;
}



#home {
    position: relative;
    background: url("../img/mountains.jpg");
    min-height: 500px;
}

#home .dark-overlay {
    background: rgba(50, 146, 166, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100px;
    Overflow: hidden
}

.book-poster {
    height: 80%;
}

.mb-resp {
    margin-bottom: 1rem;
  }


.btn-mine {
    background-color: var(--dark-overlay);
}

.mine-border {
    border-color: var(--dark-overlay);
}

.text-mine {
    color: var(--dark-overlay);
}

.bg-mine {
    background-color: var(--dark-overlay);
}

.card-img-top {
    border-radius: 50%;
    width: 120px;
}

.img-mine {
    display: flex;
    justify-content: center;
    margin-top: -50px;
}

.hover:hover {
    background-color: var(--dark-overlay);
    color: white;
}

.modal-header .popupimage {
    width: 80px;
    margin-top: -60px;
    border-radius: 50%;
}